Repository feryardiant/poc-brackets, pull requests merged in 2024-11, with the labels that each got.

#4 feat(dev): configure automation for pull-requests
  .github/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .gitignore
  package-lock.json
Labels: enhancement, dependencies, features, integration

#9 chore: clean up unnecessary `z-index`
  .github/workflows/code.yml
  lib/style.css
Labels: enhancement

#11 feat!: refactor `generateRounds` and `generateParties` method signature
  lib/main.js
  lib/parties.js
Labels: enhancement, features

#12 feat!: add ability to upload `csv` file to generate chart
  example/participant.csv
  index.html
  lib/main.js
  lib/parties.js
  lib/style.css
Labels: enhancement, features

#8 feat(#6): add behavior to the radio box to select winner on each match
  lib/main.js
Labels: enhancement
